<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">

  <property name="app.name" value="firstmeet-wapp-navigator"/>
  <contextName>${app.name}</contextName>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="APPENDER_FILE_ALL_LOG">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>
        ${FIRSTMEET_MSERVICE_DATA_BASEDIR:-.}/logs/${HOSTNAME:-1}/${app.name}-all.%d{yyyy-MM-dd}.log
      </FileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSZ} | [%thread] | %-5level | %c.%M@\(%F:%L\) - %msg%n
      </pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="APPENDER_FILE_APP_LOG">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>
        ${FIRSTMEET_MSERVICE_DATA_BASEDIR:-.}/logs/${HOSTNAME:-1}/${app.name}-app.%d{yyyy-MM-dd}.log
      </FileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSZ} | [%thread] | %-5level | %c.%M@\(%F:%L\) - %msg%n
      </pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSZ} | %-5level | %c.%M@\(%F:%L\) - %msg%n</pattern>
    </encoder>
  </appender>

  <root>
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="APPENDER_FILE_ALL_LOG"/>
  </root>

  <logger additivity="true" name="com.chujian">
    <level value="INFO"/>
    <appender-ref ref="APPENDER_FILE_APP_LOG"/>
  </logger>

</configuration>