<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>欢迎</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        th:href="@{{serviceName}/bootstrap/css/bootstrap.min.css(serviceName=${application.serviceName})}">
  <link href="../../static/css/style.css" rel="stylesheet"
        th:href="@{{serviceName}/css/style.css(serviceName=${application.serviceName})}">
</head>
<body>

<div class="alert alert-success">欢迎使用 AD2.0 后台管理系统</div>

<div class="panel-body">
</div>


<script src="../../static/js/jquery.min.js"
        th:src="@{{serviceName}/js/jquery.min.js(serviceName=${application.serviceName})}"></script>
<script src="../../static/bootstrap/js/bootstrap.min.js"
        th:src="@{{serviceName}/bootstrap/js/bootstrap.min.js(serviceName=${application.serviceName})}"></script>


</body>
</html>