<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>title</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        th:href="@{{serviceName}/bootstrap/css/bootstrap.min.css(serviceName=${application.serviceName})}">
  <link href="../../static/css/bootstrap-table.min.css" rel="stylesheet"
        th:href="@{{serviceName}/css/bootstrap-table.min.css(serviceName=${application.serviceName})}">
  <link href="../../static/css/style.css" rel="stylesheet"
        th:href="@{{serviceName}/css/style.css(serviceName=${application.serviceName})}">
  <link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css"
        rel="stylesheet">
  <!---->
  <link href="../../static/css/zTreeStyle/zTreeStyle.css" rel="stylesheet"
        th:href="@{{serviceName}/css/zTreeStyle/zTreeStyle.css(serviceName=${application.serviceName})}">
  <link href="../../static/css/demo.css" rel="stylesheet"
        th:href="@{{serviceName}/css/demo.css(serviceName=${application.serviceName})}"
        type="text/css">
  <link href="../../static/css/zTreeStyle/zTreeCustomizedStyle.css" rel="stylesheet"
        th:href="@{{serviceName}/css/zTreeStyle/zTreeCustomizedStyle.css(serviceName=${application.serviceName})}">
  <!---->
</head>

<body>

<div class="alert alert-success" style="
    padding: 17px;
    margin-bottom: 15px;
    border: 0px solid transparent;
    " >分配 [[${role.roleName}]] 角色数据权限
</div>
<div class="form-inline" role="form">
  <button class="btn btn-primary" id="reset" type="button">重置</button>
  <button class="btn btn-primary" id="change-sure-btn">确认修改</button>
  <button class="btn btn-primary" onclick="history.back(-1);" type="button">返回</button>
  <ul id="roleId" th:name="roleId" th:text="${role.roleId}"></ul>
</div>


<div class="panel-body">
  <a class="display-hide"
     href="/showRoleDataTree"
     id="getDataWithRoleIdUrl"
     th:href="@{{serviceName}/showRoleDataTree(serviceName=${application.serviceName})}"></a>
  <a class="display-hide"
     href="/change_role_data"
     id="changeRoleDataUrl"
     th:href="@{{serviceName}/change_role_data(serviceName=${application.serviceName})}"></a>
  <a class="display-hide"
     href="/getMediaResource"
     id="getMediaResource"
     th:href="@{{serviceName}/getMediaResource(serviceName=${application.serviceName})}"></a>




  <div id="main" style="width:100%;">

    <div id="left" style="width:20%;float:left;margin-left: 3%;height: 650px;">
      <table class="table table-bordered table-hover" id="headTable" >
        <thead>
        <tr>
          <td style="width: 32px;" th:type="checkbox"></td>
          <th style="font-weight: 600;">团队名称</th>
        </tr>
        </thead>
      </table>
      <div style="overflow: auto;margin-top: -20px;height: 600px">
      <table class="table table-bordered table-hover" id="teamTable" >
      <tbody>
      <tr th:each="team : ${teamList}">
        <td style="width: 5px;"><input name="roleTeam" style="width: 15px; height: 15px;"
                   th:attr="checked=${roleTeamStr.contains(team.id)?true:false}"
                   th:type="checkbox">
        </td>
        <td th:text="${team.name}" th:value="${team.id}"></td>
        <td hidden th:name="teamId" th:text="${team.id}"></td>
      </tr>
      </tbody>
    </table>
      </div>
    </div>

    <div id="left-one" style="width:20%;float:left;margin-left: 5%;height: 650px;">
      <table class="table table-bordered table-hover" id="headTable1" >
        <thead>
        <tr>
          <td style="width: 32px;" th:type="checkbox"></td>
          <th style="font-weight: 600;">产品名称</th>
        </tr>
        </thead>
      </table>
      <div style="overflow: auto;margin-top: -20px;height: 600px">
        <table class="table table-bordered table-hover" id="productTable" >
          <tbody>
          <tr th:each="product : ${productList}">
            <td style="width: 5px;"><input name="roleProduct" style="width: 15px; height: 15px;"
                                           th:attr="checked=${roleProductStr.contains(product.id)?true:false}"
                                           th:type="checkbox">
            </td>
            <td th:text="${product.name}" th:value="${product.id}"></td>
            <td hidden th:name="productId" th:text="${product.id}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="content_wrap" style="width:20%;float:left;margin-left: 5%;height: 650px;">
      <div class="zTreeDemoBackground left">
        <ul class="ztree" id="treeDemo" style="height: 650px"></ul>
      </div>
    </div>

    <!--<div id="right-one" style="width:20%;float:left;margin-left: 5%;height: 650px;">
      <table class="table table-bordered table-hover" id="headTable2" >
        <thead>
        <tr>
          <td style="width: 32px;" th:type="checkbox"></td>
          <th style="font-weight: 600;">媒体名称</th>
        </tr>
        </thead>
      </table>
      <div style="overflow: auto;margin-top: -20px;height: 600px">
        <table class="table table-bordered table-hover" id="mediaTable" >
          <tbody>
          <tr th:each="media : ${mediaList}">
            <td style="width: 5px;">
               <input name="roleMedia" style="width: 15px; height: 15px;"
                                           th:attr="checked=${roleMediaStr.contains(media.id)?true:false}"
                                           th:type="radio" >
            </td>
            <td th:text="${media.name}" th:value="${media.id}"></td>
            <td hidden th:name="mediaId" th:text="${media.id}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>-->

    <!--<div id="right" style="width:20%;float:left;margin-left: 5%;height: 650px;">
      <table class="table table-bordered table-hover" id="headTable3" >
        <thead>
        <tr>
          <td style="width: 32px;" th:type="checkbox"></td>
          <th style="font-weight: 600;">资源名称</th>
        </tr>
        </thead>
      </table>
      <div style="overflow: auto;margin-top: -20px;height: 600px">
        <table class="table table-bordered table-hover" id="mediaResourceTable" >
          <tbody>
          <tr th:each="mediaResource : ${mediaResourceList}">
            <td style="width: 5px;"><input name="roleMediaResource"
                                           style="width: 15px; height: 15px;"
                                           th:attr="checked=${roleMediaResourceStr.contains(mediaResource.id)?true:false}"
                                           th:type="checkbox">
            </td>
            <td th:text="${mediaResource.resourceName}" th:value="${mediaResource.id}"></td>
            <td hidden th:name="mediaResourceId" th:text="${mediaResource.id}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>-->

  </div>

</div>

<script src="../../static/js/jquery.min.js"
        th:src="@{{serviceName}/js/jquery.min.js(serviceName=${application.serviceName})}"></script>
<script src="../../static/bootstrap/js/bootstrap.min.js"
        th:src="@{{serviceName}/bootstrap/js/bootstrap.min.js(serviceName=${application.serviceName})}"></script>
<script src="../../static/js/bootstrap-table.min.js"
        th:src="@{{serviceName}/js/bootstrap-table.min.js(serviceName=${application.serviceName})}"></script>
<script src="../../static/js/bootstrap-table-zh-CN.min.js"
        th:src="@{{serviceName}/js/bootstrap-table-zh-CN.min.js(serviceName=${application.serviceName})}"></script>
<script src="../../static/js/common.js"
        th:src="@{{serviceName}/js/common.js(serviceName=${application.serviceName})}"></script>
<script src="../../static/js/role/role_data.js"
        th:src="@{{serviceName}/js/role/role_data.js(serviceName=${application.serviceName})}"></script>
<!--ztree插件-->
<script src="../../static/js/jquery.ztree.all.min.js"
        th:src="@{{serviceName}/js/jquery.ztree.all.min.js(serviceName=${application.serviceName})}"></script>
<script src="../../static/js/jquery.ztree.core.min.js"
        th:src="@{{serviceName}/js/jquery.ztree.core.min.js(serviceName=${application.serviceName})}"></script>
<script src="../../static/js/jquery.ztree.excheck.min.js"
        th:src="@{{serviceName}/js/jquery.ztree.excheck.min.js(serviceName=${application.serviceName})}"></script>
<script src="../../static/js/jquery.ztree.exedit.js"
        th:src="@{{serviceName}/js/jquery.ztree.exedit.js(serviceName=${application.serviceName})}"></script>
<!---->
<script
    src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>

</body>
</html>